---
layout: page
title: Main
weight: 1.5
show: 1
---

<div class="col-7">
  <center>
    <table>
      <tr>
        <td style="padding:10px 90px 10px 0px">
          <img width="200px" class="img-rounded" src="images/Media.jpg" />
        </td>
        <td style="padding:10px">
          <center>
            <h1>Xiaomin Lin</h1>
            <b>Assistant Professor</b> <br>
            <b>University of South Florida</b> <br>
            Electrical Engineering, USF <br>
            <span style="font-size:15px">
              <a href="mailto:xlin2@usf.edu">[xlin2@usf.edu]</a>
              <a href="cv/cv.pdf">[cv]</a>
            </span>
          </center>
        </td>
      </tr>
    </table>
  </center>
  <br>
</div>

<p style="font-size: 18px">
  I am a researcher in robotics and AI, focusing on underwater robotics, edge AI,
  and multimodal perception. My <a href="papers/">research group</a> (ERA Lab) aims to build
  intelligent systems for complex real-world environments with long-term autonomy.
</p>

<p style="font-size: 18px">
  I am also developing <a href="projects/">open-source</a> tools for embodied AI and edge computing.
  I collaborate with academic, industry, and government partners, and mentor a growing group
  of graduate and undergraduate students.
</p>

<h3> Current Research Areas </h3>
<ul style="font-size: 18px">
  <li> Underwater robotics and multimodal sensing. </li>
  <li> Edge AI and efficient deep learning. </li>
  <li> Long-term autonomous environmental monitoring. </li>
  <li> Large Language Models for robotics reasoning. </li>
</ul>

<h3> Recognition </h3>
<p style="font-size: 18px">
  My work has been recognized with Best Paper and Best Poster Awards (IROS, Maryland Robotics Symposium),
  and I serve as Associate Editor and Workshop Organizer for ICRA/IROS/AAAI.
</p>

<h3> Selected Papers </h3>
<p style="font-size: 18px">
  A selection of papers that represent my research interests and style.
</p>

<table>
  {% for paper in site.data.papers.notable %}
  <tr>
    <td style="padding:10px">
      {% if paper.image %}
      <a href="{{paper.pdf}}"><img width="150px" style="min-width:100px" src="{{paper.image}}"></a>
      {% else %}
      <a href="{{paper.pdf}}"><img height="75px" style="min-width:100px" src="https://avatar.tobi.sh/{{paper.title}}"></a>
      {% endif %}
    </td>
    <td style="padding:10px">
      <a class="paper" href="{{paper.pdf}}">{{paper.title}}</a><br>
      {{paper.authors}}.<br>
      {{paper.conference}} <br>
      <br>
    </td>
  </tr>
  {% endfor %}
</table>

<h3> Contact </h3>
<div class="paper-section">
  Xiaomin Lin <br>
  xlin2@usf.edu <br>
  Office: University of South Florida, Tampa, FL <br>
</div>
<br>
